 body {
      font: 10px sans-serif;
    }


    .y.axis text {
        fill: steelblue;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
    }

    .y.axis path {
      display: none;
    }