 body {
      font: 10px sans-serif;
    }

    .y.axisRight text {
        fill: orange;
    }

    .y.axisLeft text {
        fill: steelblue;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar1 {
      fill: steelblue;
    }

    .bar2 {
      fill: orange;
    }

    .x.axis path {
      display: none;
    }